{% extends 'nav.html.twig' %}
{% block title %}Usuario{% endblock %}

{% block content %}
<body>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Mail</th>
                <td>{{ usuario.mail }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.Nombre }}</td>
            </tr>
             <tr>
                <th>Apellidos</th>
                <td>{{ usuario.Apellidos }}</td>
            </tr>

        </tbody>
    </table>

    <button class="btn"><a href="{{ path('usuario_index') }}">Volver a la lista</a></button>

    <br>

    <button class="btn"><a href="{{ path('usuario_edit', {'mail': usuario.mail}) }}">Editar</a></button>

    <br>
    
    {{ include('usuario/_delete_form.html.twig') }}

</main>
</body>
{% endblock %}
